@tailwind base;
@tailwind components;
@tailwind utilities;

/* .gridcontainer {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50vh 50vh
}

.gridtable {
  
}

.grid-stats {
  grid-column: 5 / 7;
  grid-row: 1 / 7;
} */
